<table>
    <thead>
        <tr>
            @for (column of columns; track column) {
                <th (click)="sortBy(column)">
                    {{ makeColumnName(column) }}
                    <span class="sort-icon">{{ getSortIcon(column) }}</span>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of tableData; track row) {
            <tr>
                @for (column of columns; track column) {
                    <td>
                        {{ row[column] }}
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
