.main-wrapper {
    height: 100%;
    --status-bar-height: 50px;

    .main-router-outlet {
        height: calc(100% - var(--status-bar-height));
    }

    .status-bar {
        height: var(--status-bar-height);
    }
}